<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='stylesheet.css')}}" />
    <title>Flask X REact</title>
</head>
<body>
    <div id="root">

    </div>
    
    
</body>
<script id="data" type="application/json">{{data}}</script>
<script src="{{url_for('static',filename='bundle.js')}}"></script>
</html>